# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
build_log
*.log
*.pyc
usr
opt
*.o
*.a
*.os
*.exe
packages
binaries
*.ipk
*~
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
build-stamp
client/cm
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
connman.pc
debian/connman-dev.install
debian/connman.install
debian/net.connman.service
debian/connman-dbg.substvars
debian/connman-dbg
debian/connman-dev.substvars
debian/connman-dev
debian/connman.substvars
debian/connman
debian/files
debian/tmp
depcomp
compile
doc/version.xml
include/connman/
include/version.h
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

connman.pc
include/connman
include/version.h
src/builtin.h
src/connmand
src/connman.conf
src/connman.service
src/*-connman.rules
plugins/connman.policy
scripts/connman
scripts/openconnect-script
client/cm
tools/wispr
tools/dhcp-test
tools/dhcp-server-test
tools/addr-test
tools/tap-test
tools/web-test
tools/wpad-test
tools/resolv-test
tools/polkit-test
tools/iptables-test
tools/supplicant-test
tools/alg-test
tools/dbus-test
tools/stats-tool
tools/stats-ringbuffer-dump
tools/private-network-test
unit/test-session

doc/*.bak
doc/*.stamp
doc/connman.*
doc/connman-*.txt
doc/*.sgml
doc/version.xml
doc/xml
doc/html
.cproject
.project
